.card {
	height: 300px;
	min-width: 300px !important;
}

.img {
	width: 350px;
	height: 300px;
}

.text3 {
	font-size:xx-large;
	margin-bottom: 5px;
}

.text4 {
	margin-bottom: 5px;
}

.text5 {
	margin-bottom: 5px;
}