.card {
	height: 300px;
	min-width: 300px !important;
	max-width: 316px !important;
}

.img {
	width: 316px !important;
	height: 300px !important;
}

.text3 {
	text-align: center;
}

.text4 {
	margin-bottom: 5px;
}

.text5 {
	margin-bottom: 5px;
}

